# Default setup is given for MySQL with ruby1.8. If you're running Redmine
# with MySQL and ruby1.9, replace the adapter name with `mysql2`.
# Examples for PostgreSQL and SQLite3 can be found at the end.

development:
  adapter: postgresql
  encoding: unicode
  database: redmine_development
  pool: 5
  username: redmine
  password:
